extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/about.css')

block scripts
  script(type='text/javascript', src='/javascripts/about.js')

block content
  section.profiles
    div.profile.diaz
      div.head
      div.picture
    div.profile.orjuela
      div.head
      div.picture
    div.profile.zamora
      div.head
      div.picture
    div.profile.perez
      div.head
      div.picture
    div.profile.guerrero
      div.head
      div.picture
    div.profile.santana
      div.head
      div.picture
    div.profile.fonsi
      div.head
      div.picture
    div.profile.garces
      div.head
      div.picture