extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/about.css')

block scripts
  script(type='text/javascript', src='/javascripts/about.js')

block content
  section.profiles
    each profile in profiles
      div(class='profile ' + profile.name)
        div.head
        div.picture
        section.name
          p= profile.description
          p= "(" + profile.alias + ")"
          p= profile.model
          section.instagram(url=profile.instagram)= profile.instagram