extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  script(type='text/javascript', src='/javascripts/index.js')

block content
  div.construccion Próximamente...