doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-COMPATIBLE', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='expires', content='0')
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='apple-touch-icon', href='/images/logo_16x16.png')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
    script(type='text/javascript', src='/javascripts/s5-js/s5.js')
    script(type='text/javascript', src='/javascripts/s5-js/s5.icons.js')

  body
    header
      nav.nav-bar
        section.name
          div#logo
          div @FriendsNbikes
        section.menu
          div.icono
          nav
            if inicio
              div.menuitem.selected(url='/') Inicio
            else
              div.menuitem(url='/') Inicio
            if about
              div.menuitem.selected(url='/about') Nosotros
            else
              div.menuitem(url='/about') Nosotros
            if events
              div.menuitem.selected(url='/events') Eventos
            else
              div.menuitem(url='/events') Eventos
        section.network
          div.facebook
          div.instagram
    block content
    footer
      a(href='/') friendsnbikes.co
      nav
        if inicio
          div.menuitem.selected(url='/') Inicio
        else
          div.menuitem(url='/') Inicio
        if about
          div.menuitem.selected(url='/about') Nosotros
        else
          div.menuitem(url='/about') Nosotros
        if events
          div.menuitem.selected(url='/events') Eventos
        else
          div.menuitem(url='/events') Eventos
      span &copy; #{anio} FriendsNbikes
    script(type='text/javascript', src='/javascripts/index.js')
    block scripts