@-webkit-keyframes bobble-l-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(5deg);
    }
}
@-moz-keyframes bobble-l-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(5deg);
    }
}
@-o-keyframes bobble-l-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(5deg);
    }
}
@keyframes bobble-l-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(5deg);
    }
}

@-webkit-keyframes bobble-r-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(-3deg);
    }
}
@-moz-keyframes bobble-r-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(-3deg);
    }
}
@-o-keyframes bobble-r-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(-3deg);
    }
}
@keyframes bobble-r-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(-3deg);
    }
}

.profiles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.profile {
    min-height: 310px;
    width: 250px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    margin: 25px;
    display: flex;
    flex-flow: column nowrap;
}

    .profile .head {
        position: absolute;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .profile .picture {
        position: relative;
        top: 0;
        height: 250px;
        width: 250px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, .7);
        border-radius: 50%;
        box-shadow: 0px 0px 20px #ffffff;
    }

.profile:not(.mobile):hover .picture {
    box-shadow: 0px 0px 40px #ffffff;
}

.profile.selected .picture {
    box-shadow: 0px 0px 50px #ffd18a !important;
}

.profile.selected .picture {
    background-color: rgba(255, 209, 138, .7);
}

.profile:not(.mobile):hover .head,
.profile.selected .head {
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
}

.profile .name {
    text-align: center;
    max-width: 95%;
    margin-top: 15px;
}

.profile .name,
.profile .instagram {
    letter-spacing: 1px;
    opacity: 0;
}

.profile .name {
    font-size: 1.1em;
}

.profile .name p {
    margin: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile .name p:not(:first-of-type):not(:last-of-type) {
    font-size: .7em;
}

.profile .name p:last-of-type {
    font-size: .8em;
}

.profile .instagram {
    font-size: .9em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-shadow: 0px 0px 15px #fb9700;
    color: #ffcd81;
}

.profile .instagram svg {
    margin-right: 5px;
}

    .profile:not(.mobile):hover .name,
    .profile.selected .name {
        opacity: 1;
    }

    .profile:not(.mobile):hover .instagram,
    .profile.selected .instagram {
        opacity: 1;
    }

/****************** PERFILES ******************/

/*#region Perfiles*/

.profile.diaz .head {
    top: 10px;
    right: 46px;
    height: 60px;
    width: 60px;
    background-image: url('/images/profiles/head-diaz.png');
}

.profile.diaz .picture {
    background-image: url('/images/profiles/diaz.png');
}

.profile.orjuela .head {
    top: 27px;
    right: 85px;
    height: 60px;
    width: 60px;
    background-image: url('/images/profiles/head-orjuela.png');
}

.profile.orjuela .picture {
    background-image: url('/images/profiles/orjuela.png');
}

.profile.zamora .head {
    top: 1px;
    left: 60px;
    height: 100px;
    width: 100px;
    background-image: url('/images/profiles/head-zamora.png');
}

.profile.zamora .picture {
    background-image: url('/images/profiles/zamora.png');
}

.profile.perez .head {
    top: 0px;
    left: 89px;
    height: 75px;
    width: 75px;
    background-image: url('/images/profiles/head-perez.png');
}

.profile.perez .picture {
    background-image: url('/images/profiles/perez.png');
}

.profile.guerrero .head {
    top: 4px;
    right: 66px;
    height: 70px;
    width: 70px;
    background-image: url('/images/profiles/head-guerrero.png');
}

.profile.guerrero .picture {
    background-image: url('/images/profiles/guerrero.png');
}

.profile.santana .head {
    top: 3px;
    right: 35px;
    height: 75px;
    width: 75px;
    background-image: url('/images/profiles/head-santana.png');
}

.profile.santana .picture {
    background-image: url('/images/profiles/santana.png');
}

.profile.fonsi .head {
    top: 4px;
    right: 48px;
    height: 61px;
    width: 61px;
    background-image: url('/images/profiles/head-fonsi.png');
}

.profile.fonsi .picture {
    background-image: url('/images/profiles/fonsi.png');
}

.profile.garces .head {
    top: 0;
    right: 80px;
    height: 70px;
    width: 70px;
    background-image: url('/images/profiles/head-garces.png');
}

.profile.garces .picture {
    background-image: url('/images/profiles/garces.png');
}

.profile.baez .head {
    top: 12px;
    left: 61px;
    height: 125px;
    width: 125px;
    background-image: url('/images/profiles/head-baez.png');
}

.profile.baez .picture {
    background-image: url('/images/profiles/baez.png');
}

.profile.poveda .head {
    top: 1px;
    left: 69px;
    height: 60px;
    width: 60px;
    background-image: url('/images/profiles/head-poveda.png');
}

.profile.poveda .picture {
    background-image: url('/images/profiles/poveda.png');
}

.profile.luque .head {
    top: 12px;
    left: 40px;
    height: 70px;
    width: 70px;
    background-image: url('/images/profiles/head-luque.png');
}

.profile.luque .picture {
    background-image: url('/images/profiles/luque.png');
}

.profile.pulido .head {
    top: 54px;
    right: 0;
    height: 135px;
    width: 96px;
    background-image: url('/images/profiles/head-pulido.png');
}

.profile.pulido .picture {
    background-image: url('/images/profiles/pulido.png');
}

.profile.quiroga .head {
    top: 0;
    right: 53px;
    height: 75px;
    width: 70px;
    background-image: url('/images/profiles/head-quiroga.png');
}

.profile.quiroga .picture {
    background-image: url('/images/profiles/quiroga.png');
}

/*#endregion Perfiles*/

/****************** ANIMATIONS ******************/

/*#region Animaciones*/

.profile:not(.mobile).diaz:hover .head,
.profile.diaz.selected .head,
.profile:not(.mobile).guerrero:hover .head,
.profile.guerrero.selected .head,
.profile:not(.mobile).fonsi:hover .head,
.profile.fonsi.selected .head,
.profile:not(.mobile).garces:hover .head,
.profile.garces.selected .head,
.profile:not(.mobile).luque:hover .head,
.profile.luque.selected .head,
.profile:not(.mobile).pulido:hover .head,
.profile.pulido.selected .head {
    animation: bobble-l-d .4s infinite ease-in-out;
}

.profile:not(.mobile).quiroga:hover .head,
.profile.quiroga.selected .head,
.profile:not(.mobile).santana:hover .head,
.profile.santana.selected .head,
.profile:not(.mobile).baez:hover .head,
.profile.baez.selected .head,
.profile:not(.mobile).poveda:hover .head,
.profile.poveda.selected .head,
.profile:not(.mobile).orjuela:hover .head,
.profile.orjuela.selected .head,
.profile:not(.mobile).zamora:hover .head,
.profile.zamora.selected .head,
.profile:not(.mobile).perez:hover .head,
.profile.perez.selected .head {
    animation: bobble-r-d .4s infinite ease-in-out;
}

/*#endregion Animaciones*/

@media (max-width: 890px) {
    .construccion {
        font-size: 1.5em;
    }
}