.gallery-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(30, 30, 30, .9);
}

    .gallery-container .gallery-title{
        position: absolute;
        top: 0;
        height: 60px;
        line-height: 60px;
        left: 0;
        right: 0;
        padding: 15px;
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: 2px;
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
        background-color: #1e1e1e;
        border-bottom: dashed 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .gallery-container .gallery-title .gallery-close {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .gallery-container .gallery-title .gallery-close svg {
                transform: rotate(45deg);
            }

            .gallery-container .gallery-title .gallery-close:hover svg {
                transform: rotate(225deg);
            }

            .gallery-container .gallery-title .gallery-close:hover svg path,
            .gallery-container > aside:hover svg polygon {
                fill: #fb9700 !important;
            }

    .gallery-container .gallery-photo{
        position: absolute;
        bottom: 0;
        top: 100px;
        left: 50px;
        right: 50px;
        padding: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
    }

        .gallery-container .gallery-photo > img {
            max-height: 100%;
            max-width: 100%;
        }

        .gallery-container .gallery-photo > iframe {
            height: 100%;
            width: 100%;
        }

    .gallery-container > aside {
        top: 90px;
        bottom: 0;
        width: 50px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .gallery-container > aside:hover svg {
            width: 25px;
            height: 25px;
        }

    .gallery-container aside.hidden{
        display: none;
    }

    .gallery-container .gallery-prev {
        left: 0;
    }

        .gallery-container .gallery-prev > svg {
            transform: rotate(90deg);
        }

    .gallery-container .gallery-next {
        right: 0;
    }

        .gallery-container .gallery-next > svg {
            transform: rotate(270deg);
        }

    .gallery-container .gallery-desc {
        position: absolute;
        font-size: .6em;
        bottom: 25px;
        left: 0;
        right: 0;
        text-align: center;
    }

    .gallery-container .gallery-photo::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: .9;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(10px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

@media (max-width: 800px){
    .gallery-container .gallery-title{
        font-size: 1em;
        letter-spacing: 1px;
        height: 40px;
        line-height: 40px;
        padding-right: 42px;
    }

    .gallery-container .gallery-title .gallery-close {
        top: 20px;
        right: 10px;
        height: 30px;
    }

    .gallery-container .gallery-title .gallery-close svg {
        width: 30px;
        height: 30px;
    }

    .gallery-container > aside {
        top: 70px;
        width: 30px;
    }

    .gallery-container .gallery-photo {
        padding: 10px;
        left: 30px;
        right: 30px;
        top: 70px;
        bottom: 20px;
    }

    .gallery-container .gallery-desc {
        bottom: 10px;
    }

    .gallery-container .gallery-photo > iframe {
        height: 90%;
    }
}