section.container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.album{
    padding: 15px;
    cursor: pointer;
    min-width: 350px;
    min-height: 381px;
    border: solid 1px #ffffff70;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ffffff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.album:hover {
    box-shadow: 0px 0px 25px #ffffff;
}

    .album .name {
        margin-top: 10px;
        font-size: 1.1em;
        font-weight: 500;
        text-shadow: 0px 0px 10px #fff4e3;
        color: #fff4e3;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }

    .album .imgs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        position: relative;
        border-radius: 5px;
        border: solid 1px transparent;
    }
        .album .imgs > div img {
            width: 275px;
        }

        .album .imgs > div {
            width: 175px;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .album:hover .imgs {
            width: 375px;
            height: 375px;
        }

        .album:hover .imgs > div {
            margin: 5px;
        }

        .album:hover .imgs::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(111, 111, 111, .6);
            background-image: url('/images/search.svg');
            background-position: center;
            background-size: 16px;
            background-repeat: no-repeat;
        }

    .album .see {
        font-size: .8em;
        cursor: pointer;
    }

    .album .see:hover {
        text-shadow: 0px 0px 20px #fb9700;
        color: #fb9700;
    }

@media (max-width: 920px){
    .album{
        margin: 15px;
        padding: 15px;
        cursor: pointer;
        min-width: 250px;
        min-height: 281px;
        border: solid 1px #ffffff70;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #ffffff;
    }

    .album .imgs {
        width: 250px;
        height: 250px;
    }

    .album .imgs > div {
        width: 125px;
        height: 125px;
    }

    .album:hover .imgs {
        width: 275px;
        height: 275px;
    }

    .album .name {
        font-size: .8em;
        text-shadow: 0px 0px 5px #fff4e3;
    }
}