@import url('gallery.css');

section.container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.album{
    margin: 15px;
    padding: 15px;
    cursor: pointer;
    min-width: 350px;
    max-width: 350px;
    max-height: 530px;
    min-height: 530px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ffffff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, .5);
}

.album:not(.mobile):hover {
    box-shadow: 0px 0px 25px #ffe6c0;
}

    .album .name {
        margin-top: 10px;
        font-size: 1.15em;
        font-weight: 500;
        color: #fff4e3;
        text-align: center;
        padding: 0 5px;
        flex: 1;
        display: flex;
        align-items: center;
        flex-flow: column;
        max-height: 50px;
    }

    .album .name > p {
        margin: 1px;
    }

    .album .name > p:last-of-type {
        font-size: .7em;
        color: #d6d6d6;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .album .description {
        font-size: .7em;
        color: #fff4e3;
        text-align: justify;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 0 5px;
        flex: 1;
        margin-top: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .album .imgs {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        width: 350px;
        height: 350px;
        position: relative;
        border-radius: 5px;
        border: solid 1px transparent;
    }
        .album .imgs > div img {
            width: 275px;
        }

        .album .imgs > div {
            width: 175px;
            height: 175px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .album:not(.mobile):hover .imgs {
            /* width: 375px; */
            /* height: 375px; */
        }

        .album:not(.mobile):hover .imgs > div {
            /* margin: 5px; */
            /* width: 155px; */
            /* height: 155px; */
            box-shadow: inset 0px 0px 15px #ab6767;
        }

        .album:not(.mobile):hover .imgs > div img {
            opacity: .7;
        }

        .album:not(.mobile):hover .imgs::after {
            opacity: 1;
        }

        .album:not(.mobile) .imgs::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            /* background-color: rgba(111, 111, 111, 0.46); */
            background-image: url(/images/search.svg);
            background-position: center;
            background-size: 16px;
            background-repeat: no-repeat;
            opacity: 0;
        }

    .album .see {
        font-size: .8em;
        cursor: pointer;
    }

    .album .see:hover {
        text-shadow: 0px 0px 20px #fb9700;
        color: #fb9700;
    }

@media (max-width: 920px){
    .album{
        margin: 15px;
        padding: 15px;
        cursor: pointer;
        min-width: 250px;
        max-width: 250px;
        min-height: 400px;
        max-height: 400px;
        border: solid 1px #ffffff70;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #ffffff;
    }

    .album .imgs {
        width: 250px;
        height: 250px;
    }

    .album .imgs > div {
        width: 125px;
        height: 125px;
    }

    .album:not(.mobile):hover .imgs {
        /* width: 275px; */
        /* height: 275px; */
    }

    .album .name {
        font-size: 1em;
        /* text-shadow: 0px 0px 5px #fff4e3; */
    }

    .album .description {
        font-size: .6em;
        text-shadow: 0px 0px 2px #fff4e3;
    }

    .album .imgs > div img {
        width: 175px;
    }
}