@-webkit-keyframes bobble-l-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(5deg);
    }
}
@-moz-keyframes bobble-l-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(5deg);
    }
}
@-o-keyframes bobble-l-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(5deg);
    }
}
@keyframes bobble-l-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(-3deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(5deg);
    }
}

@-webkit-keyframes bobble-r-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(-3deg);
    }
}
@-moz-keyframes bobble-r-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(-3deg);
    }
}
@-o-keyframes bobble-r-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(-3deg);
    }
}
@keyframes bobble-r-d {
    25% {
        transform: translateX(-2px) translateY(2px) rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: translateX(2px) translateY(-2px) rotate(-3deg);
    }
}